<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
crossorigin="anonymous"></script>
<div class="container-centro">
    <div class="row">
      <div class="col-3">
        <div class="card card-form poppins-regular">
          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()"> 
            <div class="form-row">
                <label for="SelectfuncionaiosLista"><h5>Funcionário</h5></label>
                <select class="custom-select" id="SelectfuncionaiosLista"  formControlName="SelectfuncionaiosLista">
                   @for (pessoa of pessoas; track pessoa){
                    <option value={{pessoa}}>{{pessoa}}</option>}
                </select>              
            </div>
            <div class="form-row">
              <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novo_funcionario">
            Novo funcionário
          </button>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#lancar_ferias">
            Lançar férias ou falta
          </button>
          
            </div>
            <div class="form-row" style="padding-top: 3%;">
              <div class="row">
                <div style="float: left">
                  <label for="escolhaMes" style="padding-right: 10px;">Mês escala:</label> 
                  <input type="month" id="escolhaMes" formControlName="escolhaMes" name="escolhaMes" min="2024-01" max="2050-12"   />
                </div>
              </div>
            </div>
            <div class="form-row card-radio">
              <div class="row"> 
                <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" id="radioD" value="D" onclick="habilitaDia1();EscondePerguntaSabado()" formControlName="escala">
                  <label class="custom-control-label" for="radioD">D - 7h às 11h - 12 às 19h</label>
                </div>
                <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" id="radioN" name="escala" value="N" onclick="habilitaDia1();EscondePerguntaSabado()" formControlName="escala">
                  <label class="custom-control-label" for="radioN">N - 19h às 21h  - 22h às 7h</label>
                </div>
                <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" id="radioM" name="escala" value="M" onclick="desabilitaDia1();EscondePerguntaSabado()" formControlName="escala">
                  <label class="custom-control-label" for="radioM">M- 07h às 12h  - 14h às 17h</label>
                </div>
                <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" onclick="mostraPerguntaSabado();desabilitaDia1()" id="radioMT" name="escala" value="MT" formControlName="escala">
                  <label class="custom-control-label" for="radioMT">MT - 08h às 12h  -  14h às 18h</label>
                  <div class="input-group-text" id="meio_periodo_sabado" style="display: none;">
                    <input type="checkbox" name="checkbox_trabalha_sabado" id="checkbox_trabalha_sabado" value="false" formControlName="checkbox_trabalha_sabado">
                    <label class="custom-control-label" style="padding-left: 2%;" for="checkbox_trabalha_sabado"> Meio período ao sábado?</label>
                  </div>
                </div>
                <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" id="radioS" name="escala" value="M*" onclick="desabilitaDia1();EscondePerguntaSabado()" formControlName="escala">
                  <label class="custom-control-label" for="radioMS">M*- 08h às 12h Sábado</label>
                </div>
              </div>
            </div>
              <div class="form-row" style="display: none;" id="div_dia_inicial">
                <div class="row comeca_em">
                  Começa em: 
                </div>
                <div class="row dia_inicial">
                <div class="form-row dia_inicial">
                  <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" id="dia1" name="dia1" value="true" formControlName="dia1">
                  <label class="custom-control-label" for="dia1">Dia 1</label>
                </div>
                <div class="custom-control custom-radio my-1 mr-sm-2">
                  <input type="radio" class="custom-control-input" id="dia1" name="dia1" value="false" formControlName="dia1"> 
                  <label class="custom-control-label" for="dia1">Dia 2</label>
                  </div>
                </div>
                </div>
              </div>
            <div class="row btn-adicionar">
              <button type="submit"  class="btn btn-primary">Adicionar</button>
             </div>
          </form>  
        </div>
      </div>
      <div class="col-9">
        <div class="card card-table">
        <table class="table" >
            <thead>
              <tr >
                <th scope="col">#</th>
                 @for (c of calen; track c)
                 { 
                  <th scope="col" style="font-size: 8.5px;"  ngSkipHydration>{{c}}</th> 
                 }
              </tr>
            </thead>
            <tbody>
              @for (fun of escala; track fun) 
              {
                <tr>
                    <th scope="row">{{fun.nome}}</th> 
                    @for (dias of fun.escala; track dias;let idx = $index) {
                      <td>{{fun.escala[idx]}}</td>
                    }
                </tr>
              }
            </tbody>
          </table>
          <!-- Modal Cadastrar novo funcionário -->
          <div class="modal fade" id="novo_funcionario" tabindex="-1" role="dialog" aria-labelledby="novo_funcionario_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="novo_funcionario_Label">Novo Funcionário</h5>
                </div>
                <div class="modal-body">
                  <form [formGroup]="funcionarioForm" (ngSubmit)="addFuncionario()"> 
                    <div class="mb-3">
                      <label for="nomefuncionario" class="form-label">Nome Funcionário</label>
                      <input type="email" class="form-control" id="nomefuncionario" aria-describedby="nomefuncionario" formControlName="nomefuncionario">
                      <div id="nomefuncionario" class="form-text">Novos funcionários apareceram na lista do menu Funcionário</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal lançamento de férias-->
          <div class="modal fade" id="lancar_ferias" tabindex="-1" role="dialog" aria-labelledby="novo_funcionario_Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="novo_funcionario_Label">Laçamento de Férias / Falta</h5>
                </div>
                <div class="modal-body">
                  <form [formGroup]="lancamentoFeriasForm" (ngSubmit)="addFeriasFaltas()"> 
                    <div class="mb-3">
                      <div class="form-row">
                        <label for="SelectfuncionaiosListaFF"><h5>Funcionário</h5></label>
                        <select class="custom-select" id="SelectfuncionaiosListaFF"  formControlName="SelectfuncionaiosListaFF">
                           @for (pessoa of pessoas; track pessoa){
                            <option value={{pessoa}}>{{pessoa}}</option>}
                        </select>              
                      </div>
                      <div class="form-row">
                        <label for="dtInicialFF" style="padding-right: 12px;">Data Inicial</label> 
                        <input type="date" style="padding-right: 10px;" id="dtInicialFF" formControlName="dtInicialFF" name="dtInicialFF"   />
                      </div>
                      <div class="form-row">
                        <label for="dtFimFF" style="padding-left: 10px; padding-right: 10px;">Data Final</label> 
                        <input type="date" id="dtFimFF" style="padding-right: 10px;" formControlName="dtFimFF" name="dtFimFF"   />
                      </div>
                      <div class="form-row">
                        <div class="form-row">
                          <div class="custom-control custom-radio my-1 mr-sm-2">
                          <input type="radio" class="custom-control-input" id="FeriasFF" name="FeriasFF" value="true" formControlName="FeriasFF">
                          <label class="custom-control-label" for="FeriasFF">Férias</label>
                        </div>
                        <div class="custom-control custom-radio my-1 mr-sm-2">
                          <input type="radio" class="custom-control-input" id="FaltaFF" name="FaltaFF" value="false" formControlName="FaltaFF"> 
                          <label class="custom-control-label" for="FaltaFF">Ausência</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>